{{#each @model as |y|}}
  <div class="year">
    <h2>{{y.year}} Lottery ({{if y.isActual 'Actual' 'Projected'}})</h2>
    <table>
      <thead>
        <tr>
          <th>Years</th>
          <th>Applicants</th>
          <th>Tickets/<br>Applicant</th>
          <th>Total<br>Tickets</th>
          <th>Odds</th>
          <th>Waitlist<br>Odds<3,/th>
          <th>Combined<br>Odds</th>
          <th>Expected<br>Entrants</th>
        </tr>
      </thead>
      <tbody>
        {{#each y.groups as |g|}}
          <tr>
            <td>{{g.yearNo}}</td>
            <td>{{g.applicants}}</td>
            <td>{{g.ticketsPer}}</td>
            <td>{{g.totalTickets}}</td>
            <td>{{to-fixed g.odds 100}}%</td>
            <td>{{to-fixed g.waitlistOdds 100}}%</td>
            <td>{{to-fixed g.combinedOdds 100}}%</td>
            <td>{{g.expectedEntrants}}</td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th>Totals</th>
          <th>{{y.totalApplicants}}</th>
          <th>{{y.avgTickets}} avg</th>
          <th>{{y.totalTickets}}</th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{y.expectedEntrants}}</th>
        </tr>
      </tfoot>
    </table>
  </div>
{{/each}}