{{#each @model as |y|}}
  <div class="year">
    <h2>{{y.year}} Lottery ({{if y.isActual 'Actual' 'Projected'}})
    </h2>
    <h3>Simulated {{y.simulation.runs}} of {{y.simulation.totalRuns}} lotteries</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          {{#each y.simulation.count as |count|}}
            <th>{{count.ticketsPer}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Entered</td>
          {{#each y.simulation.count as |count|}}
            <td>{{count.entered}}</td>
          {{/each}}
        </tr>
        <tr>
          <td>Waitlisted</td>
          {{#each y.simulation.count as |count|}}
            <td>{{count.waitlisted}}</td>
          {{/each}}
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <table>
      <thead>
        <tr>
          <th>Years</th>
          <th>Applicants</th>
          <th>Tickets/<br>Applicant</th>
          <th>Total<br>Tickets</th>
          <th>Odds</th>
          <th>Waitlist<br>Odds<3,/th>
          <th>Combined<br>Odds</th>
          <th>Expected<br>Entrants</th>
          <th>Simulated<br>Entrants</th>
        </tr>
      </thead>
      <tbody>
        {{#each y.groups as |g|}}
          <tr>
            <td>{{g.yearNo}}</td>
            <td>{{to-fixed g.applicants}}</td>
            <td>{{to-fixed g.ticketsPer}}</td>
            <td>{{to-fixed g.totalTickets}}</td>
            <td>{{to-fixed g.odds 100}}%</td>
            <td>{{to-fixed g.waitlistOdds 100}}%</td>
            <td>{{to-fixed g.combinedOdds 100}}%</td>
            <td>{{to-fixed g.expectedEntrants}}</td>
            <td>{{to-fixed g.simulatedEntrants}}</td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot>
        <tr>
          <th>Totals</th>
          <th>{{to-fixed y.totalApplicants}}</th>
          <th>{{to-fixed y.avgTickets}} avg</th>
          <th>{{to-fixed y.totalTickets}}</th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{to-fixed y.expectedEntrants}}</th>
          <th>{{to-fixed y.simulatedEntrants}}</th>
        </tr>
      </tfoot>
    </table>
  </div>
{{/each}}